/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-color: #fff7ef;
    color: #3a2d1f;
    line-height: 1.6;
}

/* MÁRGENES DEL TEXTO EN TODAS LAS PÁGINAS */
section, .contenido {
    padding: 0 20px;
    max-width: 900px;
    margin: auto;
    font-size: 1.2rem; /* Letra un poco más grande */
}

/* MENÚ SUPERIOR */
.menu {
    width: 100%;
    display: flex;
    justify-content: center; /* CENTRAR LOS BOTONES */
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff7ef;
    padding: 10px 0;
    transition: opacity .3s ease;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #3a2d1f;
    font-size: 1.2rem;
    font-weight: 500;
}

/* HERO / INICIO */
.hero {
    text-align: center;
    padding-top: 120px;
}

.logo-inicio img {
    width: auto;   /* RESPETA EL TAMAÑO ACTUAL */
    max-width: 100%;
    height: auto;
}

/* FRASE GRANDE */
.hero-text {
    font-size: 2rem;
    font-family: 'Playfair Display', serif; /* tu tipografía anterior */
    margin-top: 20px;
    font-weight: 500;
}

/* OCULTAR MENÚ Y LOGO CUANDO SE HACE SCROLL */
.ocultar {
    opacity: 0;
    pointer-events: none;
}

/* PÁGINAS INTERNAS */
.contenido img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
   }
